@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');

p{
  font-size: 1em;
  line-height: 1.5em;

}
figcaption{
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
}
.milk-text{
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color:white;
  text-shadow: 0 2px 3px #000;
}
